@tailwind base;
@tailwind components;
@tailwind utilities;

/* 額外修飾樣式 */
.input {
  @apply w-full px-3 py-2 border border-slate-200 rounded-lg focus:ring-2 focus:ring-blue-100 focus:border-blue-500 outline-none transition-all;
}
